.ConvertForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.ipArea{
    margin: 20px 0 20px 0;
}
textarea{
    height: 200px;
}
textarea, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.control button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000;
    flex: 1;
    transition: all 0.3s ease;
}
#convert{
    border: 2px solid #91ae30;
    background-color: #f5fff0;
}

#convert:hover{
    background-color: #91ae30;
    color: white;
}

#clear {
    border: 2px solid #FDBE5C;
    background-color: #fffbf0;
}

#clear:hover {
    background-color: #FDBE5C;
    color: black;
}

#copy{
    border: 2px solid #4a9ccc;
    background-color: #f0f7ff;
}

#copy:hover {
    background-color: #4a9ccc;
    color: white;
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
ul li{
    list-style: none;
    padding: 5px;
}

